<div>
	<style>
		.planet.rock {
			background-color: #EECCAA;
		}

		.planet {
			background-color: #AAEECC;
			border: 1px solid #C0C0C0;
			font-size: 0.95em;
			margin-bottom: 0.5em;
			padding: 0.35em;
		}
	</style>
	<h2>Planets</h2>
	<div class="well">
		<div class="row-fluid">
			<div class="span6">
				<div>
					<label>Add a Planet:</label>
					<button class="btn" data-bind='click: addPlanet.bind($data, "rock")'>rocky planet</button>
					<button class="btn" data-bind='click: addPlanet.bind($data, "gasgiant")'>gas giant</button>
				</div>
				<br />
				<div>
					<label>Show:</label>
					<label class="radio">
						<input type='radio' name="type" value='all' data-bind='checked: typeToShow' />All</label>
					<label class="radio">
						<input type='radio' name="type" value='rock' data-bind='checked: typeToShow' />Rocky planets</label>
					<label class="radio">
						<input type='radio' name="type" value='gasgiant' data-bind='checked: typeToShow' />Gas giants</label>
				</div>
			</div>
			<div class="span6">
				<div data-bind='template: { foreach: planetsToShow, beforeRemove: hidePlanetElement, afterAdd: showPlanetElement }'>
					<div data-bind='attr: { "class": "planet " + type }, text: name'></div>
				</div>
			</div>
		</div>
	</div>
</div>
